body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  font-family: 'Radley', serif;
  font-weight: normal;
}

h2 {
  font-size: 40px;
}

h2.contact-heading {
  font-size: 100px;
  text-align: center;
}

h2.decorated{
  margin-bottom: 1%;
}

h2.decorated::after{
  margin-bottom: 1%;
}

h3 {
  color: #c2506a;
  font-size: 24px;
  margin-top: 20px;
}

a {
  color: #c2506a;

}

p {
  text-transform: none;
  font-weight: 200;
  line-height: 160%;
}

a,
a:hover {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

nav li {
  font-size: 120%;
  color: black;
  margin: 25px 12.5px 25px 12.5px;
  display: inline-block;
  font-weight: 900;

}

nav li a {
  color: #000;
}

header h1 {
  font-size: 200px;
  color: white;
  letter-spacing: 1px;
}

.col-md-5 offset-md-1::after {
  position: absolute;
  background-image: url('../image/cross.svg');
  position: absolute;
  width: 800px;
  z-index: -1;
  top: 0;
  left: -100px;


}

header .tagline {
  color: white;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;

}

header {
  height: 80vh;
  background-image: url('../image/banner.jpg');
  background-size: cover;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  position: relative;
}

i{
  z-index: 1;
  color: #000;
  margin-left: 10%;
}
img {
  max-width: 100%;
  z-index: -1;
}

ul {
  padding: 0;
}

span.highlighted {
  background: #c2506a;
  color: white;
  padding: 0 5px;
}

footer {
  background: #F2F2F2;
  text-align: center;
}

.by {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  white-space: nowrap;
  float: left;
  display: inline-block;
  color: white;
  font-size: 60%;
}

#title {
  color: white;
}

.header-box {
  width: 100%;
  display: inline-block;
}

li {
  list-style-type: none;
}

#contact {
  text-align: center;
}


.link {
  text-decoration: underline;
}

.linki {
  text-decoration: underline;
  float: right;
}

.socialmedia {
  position: fixed;
  top: 25vh;
  width: 40px;
}

.author {
  position: relative;
}

.author::before {
  content: url(../image/cross.svg);
  position: absolute;
  width: 190px;
  top: -40px;
  z-index: -1;
  left: -100px;
}

.decorated::after {
  content: url('../image/line.svg');
  position: absolute;

}

h2.contact-heading::before {
	content: url("../image/line.svg");
	position: absolute;
	width: 900px;
	z-index: -1;
  left: 100px;
  bottom: -50px;
}

.contact {
  text-align: center;
}

h2.contact-heading {
  font-size: 100px;
  position: relative;
}

.col-md-12{
  z-index: -100;

}

#flirciara{
  float: right;
}